In [1]:
import numpy as np
import pandas as pd

## 1. 엑셀 - load

In [7]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
excel = pd.read_excel('data/DMF1.xlsx', sheet_name='info', engine='openpyxl')

In [3]:
excel

     이름           전공                   email             github
0   오창희      소프트웨어공학      oche.edu@gmail.com            5chang2
1   강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com      KANGJISEUNG-1
2   김민수        상담심리학  rlaalstn2568@naver.com         minwater96
3   김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com             suhihy
4   김아영    정보사회미디어학과     irene4618@naver.com            EHYONGI
5   김정아         환경공학   jjungcu0519@gmail.com         jjungcu519
6   김주미        조리과학과      ajsel422@gmail.com           JUMI0110
7   김태주  바이오산업자원공학전공       tj98724@gmail.com              Juin6
8   김현호       경영정보학과  poweremperor@naver.com             gusgh3
9   박진경          행정학    wlsrud0593@naver.com      ParkJinGyeong
10  성찬렬       응용통계학과      s3147078@gmail.com             cksfuf
11  이시운  공연예술학부 무용전공      shiun147@gmail.com            v2k2000
12  이현주          중국학    kangje0610@gmail.com         hyunjuleee
13  이후석          경제학    starpeeker@naver.com  krpythondestroyer
14  조은수       저널리즘전공      joeun115@naver.com          Eunsoojoe
15  최지원        산업보안학  lunatic-ring@naver.com            basquuu
16  최진욱      식량생명공학과      ekdltl30@naver.com      jinwook012345

In [10]:
type(excel)

pandas.core.frame.DataFrame

In [13]:
menu = pd.read_excel('data/DMF1.xlsx', sheet_name='menu', engine='openpyxl')
menu.head()

,가게이름,거리(분),메뉴,평가
0,홍두깨칼국수,8분,"칼국수, 솥밥정식, 돈까스",칼국수 집인데 솥밥정식이 더 맛있음
1,맘맘테이블,3분,"쌀국수, 분짜",분짜 추천/ 쌀국수도 추천
2,소신이쏘,5분,소갈비찜,크림소갈비찜이 맛있지만 평일 점심에 가면 매운 소갈비찜을 할인된 가격에 판매
3,카라멘야,7분,"카라멘, 본라멘, 마제소바","맵기 단계 설정 가능, 카라멘 추천"
4,고삼이,7분,"고등어구이, 삼치구이, 오징어볶음",고등어구이 추천

In [15]:
excel = pd.read_excel('data/DMF1.xlsx', sheet_name=None, engine='openpyxl')
excel

{'info':      이름           전공                   email             github
 0   오창희      소프트웨어공학      oche.edu@gmail.com            5chang2
 1   강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com      KANGJISEUNG-1
 2   김민수        상담심리학  rlaalstn2568@naver.com         minwater96
 3   김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com             suhihy
 4   김아영    정보사회미디어학과     irene4618@naver.com            EHYONGI
 5   김정아         환경공학   jjungcu0519@gmail.com         jjungcu519
 6   김주미        조리과학과      ajsel422@gmail.com           JUMI0110
 7   김태주  바이오산업자원공학전공       tj98724@gmail.com              Juin6
 8   김현호       경영정보학과  poweremperor@naver.com             gusgh3
 9   박진경          행정학    wlsrud0593@naver.com      ParkJinGyeong
 10  성찬렬       응용통계학과      s3147078@gmail.com             cksfuf
 11  이시운  공연예술학부 무용전공      shiun147@gmail.com            v2k2000
 12  이현주          중국학    kangje0610@gmail.com         hyunjuleee
 13  이후석          경제학    starpeeker@naver.com  krpythondestroyer
 14  조은수       저널리즘전공      joeun115@naver.com          Eunsoojoe
 15  최지원        산업보안학  lunatic-ring@naver.com            basquuu
 16  최진욱      식량생명공학과      ekdltl30@naver.com      jinwook012345,
 'menu':       가게이름 거리(분)                             메뉴  \
 0   홍두깨칼국수    8분                 칼국수, 솥밥정식, 돈까스
 1    맘맘테이블    3분                        쌀국수, 분짜
 2     소신이쏘    5분                           소갈비찜
 3     카라멘야    7분                카라멘, 본라멘, 마제소바
 4      고삼이    7분             고등어구이, 삼치구이, 오징어볶음
 5    고래파스타    5분  새우루꼴라파스타, 봉골레파스타, 트러플버섯크림 파스타
 6    텐동미세기    7분                             텐동
 7     강남불백   2분                     불백,  불낙, 불쭈
 8  한창희천하일면    5분  고기국수, 얼큰고기국수, 아부라소바, 매운 아부라소바

                                                   평가
 0                                칼국수 집인데 솥밥정식이 더 맛있음
 1                                     분짜 추천/ 쌀국수도 추천
 2         크림소갈비찜이 맛있지만 평일 점심에 가면 매운 소갈비찜을 할인된 가격에 판매
 3                                맵기 단계 설정 가능, 카라멘 추천
 4                                           고등어구이 추천
 5                                           면삶기가 좋음
 6                                            합리적인 가격
 7                                            4.0/4.5
 8  기본 고기국수 7000원 맛 가성비 굿. 면 양 조절 가능하고 숙주, 마늘 무료로 ...  }

In [17]:
excel.keys()

dict_keys(['info', 'menu'])

In [18]:
excel['info'].head()

    이름           전공                   email         github
0  오창희      소프트웨어공학      oche.edu@gmail.com        5chang2
1  강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com  KANGJISEUNG-1
2  김민수        상담심리학  rlaalstn2568@naver.com     minwater96
3  김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com         suhihy
4  김아영    정보사회미디어학과     irene4618@naver.com        EHYONGI

In [19]:
excel['menu'].head()

,가게이름,거리(분),메뉴,평가
0,홍두깨칼국수,8분,"칼국수, 솥밥정식, 돈까스",칼국수 집인데 솥밥정식이 더 맛있음
1,맘맘테이블,3분,"쌀국수, 분짜",분짜 추천/ 쌀국수도 추천
2,소신이쏘,5분,소갈비찜,크림소갈비찜이 맛있지만 평일 점심에 가면 매운 소갈비찜을 할인된 가격에 판매
3,카라멘야,7분,"카라멘, 본라멘, 마제소바","맵기 단계 설정 가능, 카라멘 추천"
4,고삼이,7분,"고등어구이, 삼치구이, 오징어볶음",고등어구이 추천

## 2. 엑셀 - save

In [24]:
excel = pd.read_excel('data/DMF1.xlsx', sheet_name='info', engine='openpyxl')
student = excel[1:]

In [25]:
student.to_excel('data/student.xlsx')

In [3]:
df1 = pd.read_csv('data/DMF1.csv')

## 3. CSV - load

In [9]:
df = pd.read_csv('data/DMF1.csv', encoding='utf-8')
df.head()

    이름           전공                   email         github
0  오창희      소프트웨어공학      oche.edu@gmail.com        5chang2
1  강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com  KANGJISEUNG-1
2  김민수        상담심리학  rlaalstn2568@naver.com     minwater96
3  김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com         suhihy
4  김아영    정보사회미디어학과     irene4618@naver.com        EHYONGI

In [13]:
# data의 양이 많을 때 나눠서 불러오기 위해 사용
file = pd.read_csv('data/DMF1.csv', chunksize=10)
for df in file:
    display(df.head())

    이름           전공                   email         github
0  오창희      소프트웨어공학      oche.edu@gmail.com        5chang2
1  강지승  커뮤니케이션미디어학과  kangjiseung1@gmail.com  KANGJISEUNG-1
2  김민수        상담심리학  rlaalstn2568@naver.com     minwater96
3  김수현  커뮤니케이션미디어학과     hisuhy065@gmail.com         suhihy
4  김아영    정보사회미디어학과     irene4618@naver.com        EHYONGI

     이름           전공                 email             github
10  성찬렬       응용통계학과    s3147078@gmail.com             cksfuf
11  이시운  공연예술학부 무용전공    shiun147@gmail.com            v2k2000
12  이현주          중국학  kangje0610@gmail.com         hyunjuleee
13  이후석          경제학  starpeeker@naver.com  krpythondestroyer
14  조은수       저널리즘전공    joeun115@naver.com          Eunsoojoe

## 4. CSV - save

In [14]:
df = pd.read_csv('data/DMF1.csv')
studant = df[1:]

In [15]:
studant.to_csv('data/studant.csv', index=False)