In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [45]:
df = sns.load_dataset('titanic')

### describe

In [3]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
df.describe(include='O')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

### count()

In [9]:
df.count() # 데이터의 수 확인

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [10]:
df['age'].count() # 컬럼을 지정한 뒤 확인

np.int64(714)

### mean()

In [12]:
arr = np.arange(15).reshape(3, 5)
temp_df = pd.DataFrame(arr)
print(temp_df)
print(temp_df.mean())

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
0    5.0
1    6.0
2    7.0
3    8.0
4    9.0
dtype: float64

In [14]:
df.mean(numeric_only=True) # DataFrame에서 숫자만 선택하여 실행

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [15]:
df['age'].mean() # 타겟 열을 지정하여 실행

np.float64(29.69911764705882)

In [17]:
# 성인들의 나이 평균

cond = df['adult_male'] == True
df.loc[cond, 'age'].mean()

np.float64(33.17312348668281)

In [18]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

- fare를 30이상 40미만 지불한 승객
- pclass 1등급

=> 나이평균/count

In [23]:
c1 = df['fare'] >= 30
c3 = df['fare'] < 40
c2 = df['pclass'] == 1

print(round(df.loc[(c1 & c2 & c3), 'age'].mean(), 4))
print(df.loc[(c1 & c2 & c3), 'age'].count())

44.0952
21

In [25]:
# NaN값의
df.mean(numeric_only=True, skipana=False)

TypeError: mean() got an unexpected keyword argument 'skipana'

### median

In [31]:
pd.Series([1, 2, 3, 4 ]).median()

np.float64(2.5)

In [32]:
pd.Series([1, 2, 3, 4, 9]).median()

np.float64(3.0)

In [38]:
mean_value = df['age'].mean()
median_value = df['age'].median()
print(mean_value, median_value)

29.69911764705882 28.0

In [40]:
df.sum(numerie=False)

TypeError: sum() got an unexpected keyword argument 'numerie'

In [42]:
df['age'].comprod

AttributeError: 'Series' object has no attribute 'comprod'

### var(분산)

In [49]:
# 평균
fare_mean = df['fare'].values.mean()

total = (df['fare'].values - fare_mean() ** 2).sum()
my_var = total / total_count
my_var.var()

TypeError: 'numpy.float64' object is not callable

### std

In [51]:
np.sqrt(df['fare'].var())

np.float64(49.6934285971809)

In [52]:
df['fare'].std()

np.float64(49.6934285971809)

### min, max

In [53]:
df['age'].min()

np.float64(0.42)

In [56]:
df['age'].std()

np.float64(14.526497332334042)

### agg

In [57]:
# 기준을 잡고 새롭게 실행한는 것
df['age'].agg

ValueError: No objects to concatenate

In [58]:
df[['age', 'fare']].agg(['mean'])

            age       fare
mean  29.699118  32.204208

### quantile(분위)

In [60]:
df['age'].quantile(0.1)

np.float64(14.0)

In [64]:
df['age'].quantile(0.5)

np.float64(28.0)

### unique

In [65]:
# 컬럼에 있는 고유값 확인
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [66]:
# 컬럼에 있는 고유값 수 확인
df['who'].nunique()

3

### mode

In [67]:
# 가장 많은 빈도수의 값을 추출
df['who'].mode()

0    man
Name: who, dtype: object

In [68]:
df['deck'].mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

### corr
> -1~1 까지의 값

In [70]:
# 변수간 상관관계 추출
df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [72]:
df.corr(numeric_only=True)['survived']

survived      1.000000
pclass       -0.338481
age          -0.077221
sibsp        -0.035322
parch         0.081629
fare          0.257307
adult_male   -0.557080
alone        -0.203367
Name: survived, dtype: float64